### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Die .gitignore immer so anpassen, dass nur das im GIT landet, was auch wirklich benötigt wird. In diesem Fall ist der .idea Ordner und die .iml Dateien unwichtig
### Intellij Bullshit that can go ###
.idea
*iml